alabaster==0.7.16 ; python_version >= "3.9"
babel==2.16.0 ; python_version >= "3.9"
certifi==2024.8.30 ; python_version >= "3.9"
charset-normalizer==3.4.0 ; python_version >= "3.9"
colorama==0.4.6 ; python_version >= "3.9" and sys_platform == "win32"
docutils==0.21.2 ; python_version >= "3.9"
idna==3.10 ; python_version >= "3.9"
imagesize==1.4.1 ; python_version >= "3.9"
importlib-metadata==8.5.0 ; python_version < "3.10" and python_version >= "3.9"
jinja2==3.1.5 ; python_version >= "3.9"
markupsafe==3.0.2 ; python_version >= "3.9"
packaging==24.2 ; python_version >= "3.9"
pygments==2.18.0 ; python_version >= "3.9"
requests==2.32.3 ; python_version >= "3.9"
snowballstemmer==2.2.0 ; python_version >= "3.9"
sphinx-rtd-theme==3.0.2 ; python_version >= "3.9"
sphinx==7.4.7 ; python_version >= "3.9"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.9"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.9"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.9"
sphinxcontrib-jquery==4.1 ; python_version >= "3.9"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.9"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.9"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.9"
tomli==2.2.1 ; python_version < "3.11" and python_version >= "3.9"
urllib3==2.2.3 ; python_version >= "3.9"
zipp==3.21.0 ; python_version < "3.10" and python_version >= "3.9"
