root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[{*.yaml,*.yml}]
indent_size = 2

# Ignore all XML files in the `tests/` and `docs/` directories.
[{docs/**.xml,docs/**.rdf,tests/**.xml}]
charset = unset
end_of_line = unset
indent_size = unset
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
