ci:
  autoupdate_schedule: "monthly"

default_language_version:
  python: "python3.12"

repos:
  - repo: "meta"
    hooks:
      - id: "check-hooks-apply"
      - id: "check-useless-excludes"

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.6.0"
    hooks:
      - id: "check-added-large-files"
      - id: "check-merge-conflict"
      - id: "check-yaml"
      - id: "end-of-file-fixer"
        exclude: "\\.xml"
      - id: "mixed-line-ending"
        exclude: "\\.xml"
        args:
          - "--fix=lf"
      - id: "trailing-whitespace"
        exclude: "\\.xml"

  - repo: "https://github.com/asottile/pyupgrade"
    rev: "v3.17.0"
    hooks:
      - id: "pyupgrade"
        name: "Enforce Python 3.9+ idioms"
        args:
          - "--py39-plus"

  - repo: "https://github.com/psf/black-pre-commit-mirror"
    rev: "24.8.0"
    hooks:
      - id: "black"

  - repo: "https://github.com/pycqa/isort"
    rev: "5.13.2"
    hooks:
      - id: "isort"

  - repo: "https://github.com/pycqa/flake8"
    rev: "7.1.1"
    hooks:
      - id: "flake8"
        additional_dependencies:
          - "flake8-bugbear==24.4.26"

  - repo: "https://github.com/python-jsonschema/check-jsonschema"
    rev: "0.29.1"
    hooks:
      - id: "check-dependabot"
      - id: "check-github-workflows"
      - id: "check-readthedocs"

  - repo: "https://github.com/kurtmckee/pre-commit-hooks"
    rev: "v0.1.1"
    hooks:
      - id: "verify-consistent-pyproject-toml-python-requirements"
