# Run `pre-commit autoupdate` and `upadup` to update tool versions.

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: "\\.xml"
      - id: mixed-line-ending
        exclude: "\\.xml"
        args: [--fix=lf]
      - id: trailing-whitespace
        exclude: "\\.xml"

  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black

  - repo: "https://github.com/pycqa/flake8"
    rev: "6.0.0"
    hooks:
      - id: "flake8"
        additional_dependencies:
          - "flake8-bugbear==23.3.12"

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        name: "Enforce Python 3.7 idioms"
        args: [--py37-plus]
