certifi==2024.8.30 ; python_version >= "3.9"
charset-normalizer==3.4.0 ; python_version >= "3.9"
colorama==0.4.6 ; python_version >= "3.9" and sys_platform == "win32"
coverage[toml]==7.6.9 ; python_version >= "3.9"
exceptiongroup==1.2.2 ; python_version < "3.11" and python_version >= "3.9"
idna==3.10 ; python_version >= "3.9"
importlib-metadata==8.5.0 ; python_version < "3.10" and python_version >= "3.9"
iniconfig==2.0.0 ; python_version >= "3.9"
packaging==24.2 ; python_version >= "3.9"
pluggy==1.5.0 ; python_version >= "3.9"
pytest-randomly==3.16.0 ; python_version >= "3.9"
pytest==8.3.4 ; python_version >= "3.9"
pyyaml==6.0.2 ; python_version >= "3.9"
requests==2.32.3 ; python_version >= "3.9"
responses==0.25.3 ; python_version >= "3.9"
tomli==2.2.1 ; python_full_version <= "3.11.0a6" and python_version >= "3.9"
urllib3==2.2.3 ; python_version >= "3.9"
zipp==3.21.0 ; python_version < "3.10" and python_version >= "3.9"
