librt==0.7.7 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.10"
mypy==1.19.1 ; python_version >= "3.10"
pathspec==1.0.2 ; python_version >= "3.10"
tomli==2.3.0 ; python_version == "3.10"
types-chardet==5.0.4.6 ; python_version >= "3.10"
types-requests==2.32.4.20260107 ; python_version >= "3.10"
typing-extensions==4.15.0 ; python_version >= "3.10"
urllib3==2.6.3 ; python_version >= "3.10"
