ast-serialize==0.3.0 ; python_version >= "3.10"
librt==0.11.0 ; python_version >= "3.10" and platform_python_implementation != "PyPy"
mypy-extensions==1.1.0 ; python_version >= "3.10"
mypy==2.1.0 ; python_version >= "3.10"
pathspec==1.1.1 ; python_version >= "3.10"
tomli==2.4.1 ; python_version == "3.10"
types-chardet==5.0.4.6 ; python_version >= "3.10"
types-requests==2.33.0.20260513 ; python_version >= "3.10"
typing-extensions==4.15.0 ; python_version >= "3.10"
urllib3==2.7.0 ; python_version >= "3.10"
