mypy-extensions==1.1.0 ; python_version >= "3.9"
mypy==1.16.1 ; python_version >= "3.9"
pathspec==0.12.1 ; python_version >= "3.9"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
types-chardet==5.0.4.6 ; python_version >= "3.9"
types-requests==2.32.4.20250611 ; python_version >= "3.9"
typing-extensions==4.14.0 ; python_version >= "3.9"
urllib3==2.5.0 ; python_version >= "3.9"
