{% if theme_logo %}
<p class="logo">
    <a href="{{ pathto(master_doc) }}">
    <img class="logo" src="{{ pathto('_static/' ~ theme_logo, 1) }}" alt="Logo" />
    {% if theme_logo_name|lower == 'true' %}
        <h1 class="logo logo-name">{{ project }}</h1>
    {% elif theme_logo_name|lower != 'false' %}
        <h1 class="logo logo-name">{{ theme_logo_name }}</h1>
    {% endif %}
    </a>
</p>
{% else %}
<h1 class="logo"><a href="{{ pathto(master_doc) }}">{{ project }}</a></h1>
{% endif %}

{% if theme_description %}
<p class="blurb">{{ theme_description }}</p>
{% endif %}

{% if theme_github_user and theme_github_repo %}
<p>
    <a href="https://github.com/{{ theme_github_user }}/{{ theme_github_repo }}">Source code repository</a>
</p>
{% endif %}
