Options -Indexes +IncludesNoExec +ExecCGI

AddHandler cgi-script .cgi

RemoveOutputFilter .js
SetEnvIfNoCase Request_URI \.js$ no-gzip dont-vary

AddType text/html;charset=utf-8 .html
AddHandler server-parsed .html
#XBitHack full

AddType application/xml .xml
AddType text/plain .py

Redirect permanent /docs/annotated-atom.html http://feedparser.org/docs/annotated-atom03.html
Redirect permanent /docs/gpl.html http://feedparser.org/docs/license.html
Redirect permanent /docs/gpl-how-to-apply.html http://feedparser.org/docs/license.html
Redirect permanent /docs/gpl-preamble.html http://feedparser.org/docs/license.html
Redirect permanent /docs/gpl-terms-and-conditions.html http://feedparser.org/docs/license.html
Redirect permanent /docs/reference-entry-categories.html http://feedparser.org/docs/reference-entry-tags.html
Redirect permanent /docs/reference-entry-category.html http://feedparser.org/docs/reference-entry-tags.html
Redirect permanent /docs/reference-entry-enclosure.html http://feedparser.org/docs/reference-entry-enclosures.html
Redirect permanent /docs/reference-entry-issued.html http://feedparser.org/docs/reference-entry-published.html
Redirect permanent /docs/reference-entry-issued_parsed.html http://feedparser.org/docs/reference-entry-published_parsed.html
Redirect permanent /docs/reference-entry-modified.html http://feedparser.org/docs/reference-entry-updated.html
Redirect permanent /docs/reference-entry-modified_parsed.html http://feedparser.org/docs/reference-entry-updated_parsed.html
Redirect permanent /docs/reference-feed-categories.html http://feedparser.org/docs/reference-feed-tags.html
Redirect permanent /docs/reference-feed-category.html http://feedparser.org/docs/reference-feed-tags.html
Redirect permanent /docs/reference-feed-copyright.html http://feedparser.org/docs/reference-feed-rights.html
Redirect permanent /docs/reference-feed-copyright_detail.html http://feedparser.org/docs/reference-feed-rights_detail.html
Redirect permanent /docs/reference-feed-modified.html http://feedparser.org/docs/reference-feed-modified.html
Redirect permanent /docs/reference-feed-modified_parsed.html http://feedparser.org/docs/reference-feed-modified_parsed.html
Redirect permanent /docs/reference-feed-tagline.html http://feedparser.org/docs/reference-feed-subtitle.html
Redirect permanent /docs/reference-feed-tagline_detail.html http://feedparser.org/docs/reference-feed-subtitle_detail.html
Redirect permanent /docs/reference-url.html http://feedparser.org/docs/reference-href.html
